<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <div>
      <img style="margin-left: 100px;  margin-top: 20px; height: 60px;
                  width: 150px;
                  text-align: center;" alt="Company Logo1" src="img/studierent_logo.png">
      </div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" style="background-color: #009900" ng-click="login()">Login</button>
      <button class="button button-block button-calm" style="background-color: #009900" ng-click="forgotPassword()">Forgot Password</button>
      <button class="button button-block button-calm" style="background-color: #009900" ng-click="Register()">Register</button>
  </ion-content>
</ion-view>
